main {
  background-image: url('../graphics/Background\ 2.jpeg');
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
}

#artbeat-icon{
    border-radius: 10%;
    margin: 5px;
    animation: heartBeat;
    animation-duration: 5s;
}

#title{
    text-align: center;
    position: relative;
    top: -75px;
    left: -300px;
}

img {
    width: 70%;
    height: 50%;
  }
  
  h1 {
    font-family: 'Cinzel', serif;
  }
  
  .art-title-description-box {
    font-family: 'Cinzel', serif;
  }

  .art-title-description-box {
    background-color: white;
    display: inline-block;
    border-radius: 10px;
  }