h1{
    animation: heartBeat;
    animation-duration: 5s;
}

img {
    width: 70%;
    height: 50%;
  }
  
  h1 {
    font-family: 'Cinzel', serif;
  }
  
  .art-title-description-box {
    font-family: 'Cinzel', serif;
  }
  